body,
p {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
    margin: auto;
    max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.c4 {
    font-size: 13pt;
    font-weight: 700
}

.c11 {
    font-size: 17pt
}

.c14 {
    font-size: 23pt
}

.c5 {
    font-weight: 700
}

.title {
    color: #000000;
    font-size: 26pt;
    font-family: "Arial";
    text-align: left
}

.subtitle {
    color: #666666;
    font-size: 15pt;
    font-family: "Arial";
}
